
.heading {
    font-size: 30px;
}
.containerFluid{
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  margin-right: 5vw;
}
.activateAlarm {
    background-color: rgb(134, 201, 179);
}

.deactivateAlarm {
    background-color: rgb(247, 169, 169);
}
.viewAlarms{
    margin-top: 10px;
    margin-left: 10vw;
    width: 75vw;
}
#alarmList{
    display: flex;
    margin-bottom: 5px;
    justify-content: end;
}
